.body1 {
    background-image: url(images/web-design-background.png)
}


.topnav {

    opacity: 100%;
    color: black;

}

hr {
    width: 1400px;
}




.logo {
    font-size: 100px;
    font-style: oblique;
    line-height: 80px;
    margin-left: 500px;


}

nav ul {
    float: right;


}

ul li {
    display: inline-block;
    padding: 20px;
    font-size: x-large;

}

a {

    font-style: italic;
    text-decoration: none;

}

a:hover {
    border-bottom: 2px solid skyblue;
}

.p1 {
    margin-left: 60px;
    font-size: xx-large;
    margin-top: 150px;

}

.im1 {
    margin-top: 60px;
    margin-left: 380px;
    width: 570px;
    height: 370px;

}

button {
    color: white;
    background-color: rgb(52, 52, 252);
    font-size: 40px;
    border-radius: 20px;
    margin-left: 60px;
}

button:hover {
    background-color: aqua;
    transition: 2s;
}

.end {

    margin-top: 100px;
    background-color: white;
    color: white;
    width: 250px;
    margin-left: 560px;
    border-radius: 20px;
}

.end:hover {
    background-color: black;
    transition: 2s;
}

body {
    background-image: url(images/bg-fiddler-classic.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid-main {

    margin-left: 250px;
    display: grid;

    grid-template-columns: 350px 350px 300px;
    grid-template-rows: 250px 250px;
    row-gap: 20px;
    column-gap: 30px;

}

.item1 {

    border: 2px solid whitesmoke;
    background-color: white;
    text-align: center;
}

.item1:hover {
    background-color: rgb(25, 25, 130);
}

.item2 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;

}

.item2:hover {
    background-color: rgb(25, 25, 130);
}

.item3 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;
}

.item3:hover {
    background-color: rgb(25, 25, 130);
}

.item4 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;
}

.item4:hover {
    background-color: rgb(25, 25, 130);
}

.item5 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;
}

.item5:hover {
    background-color: rgb(25, 25, 130);
}