body {
    margin: 0;
    padding: 0;
    background: rgb(77, 77, 164);
}

.cubemain {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}




.cube {
    position: fixed;
    bottom: -100px;
    background: #f2f2f2;
    opacity: .7;
    animation: animate 15s infinite ease;

}

.cube:nth-child(1) {
    width: 86px;
    height: 86px;
    left: 8%;
    animation-delay: 1s;
}

.cube:nth-child(2) {
    width: 70px;
    height: 70px;
    left: 20%;
    animation-delay: 5s;
}

.cube:nth-child(3) {
    width: 63px;
    height: 63px;
    left: 41%;
    animation-delay: 10s;
}

.cube:nth-child(4) {
    width: 82px;
    height: 82px;
    left: 50%;
    animation-delay: 3s;
}

.cube:nth-child(5) {
    width: 61x;
    height: 61px;
    left: 26%;
    animation-delay: 10s;
}

.cube:nth-child(6) {
    width: 90px;
    height: 90px;
    left: 65%;
    animation-delay: 5s;
}

.cube:nth-child(7) {
    width: 81px;
    height: 81px;
    left: 80%;
    animation-delay: 10s;
}

.cube:nth-child(8) {
    width: 71px;
    height: 71px;
    left: 75%;
    animation-delay: 4s;
}

.cube:nth-child(9) {
    width: 79px;
    height: 79px;
    left: 5%;
    animation-delay: 10s;
}


@keyframes animate {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        bottom: 1000px;
        transform: translateX(-300px);
    }
}





@keyframes slideinleft {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0px);

    }
}

span {
    color: white;
    position: relative;
    bottom: 20px;
    left: 10px;
    height: 5px;
}



.slideinleft {
    margin-left: 60px;
    font-size: xx-large;
    margin-top: 150px;
    animation-name: slideinleft;
    animation-duration: 2s;
    animation-iteration-count: 1;



}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;


}




nav {
    width: auto;
    position: sticky;
    opacity: 90%;
    background-image: linear-gradient(45deg, black, rgb(94, 94, 222))
}

a {
    color: black;
}


.logo {
    font-size: 100px;
    font-style: oblique;
    line-height: 80px;
    margin-left: 500px;


}

nav ul {
    float: right;


}

nav ul li {
    display: inline-block;
    padding: 20px;
    font-size: x-large;

}

nav ul li:hover {
    transform: translate(-10px);
    transition: 2s;

}

a {

    font-style: italic;
    text-decoration: none;

}

a:hover {
    transform: translate(-10px);
    border-bottom: 2px solid white;

}


.img1 {
    width: 450px;
    margin-left: 260px;
    margin-top: 50px;
    height: 290px;
}



.butt {
    color: white;
    background-color: black;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 60px;
}

.butt:hover {
    background-color: whitesmoke;
    transition: 2s;
    transform: translate(20px);
}

.end {

    margin-top: 100px;
    background-color: white;
    color: white;
    width: 250px;
    height: 205px;
    margin-left: 590px;
    border-radius: 20px;
}

.end:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;

}

@media only screen and (max-width:1046px) {
    .topnav ul li {
        display: none;

    }

    .end {
        display: none;
        float: left;
    }
}





@keyframes bouncer {
    from {
        transform: translateY(-100px);

    }

    to {
        transform: translateY(0px);

    }
}

.bounce {
    margin-left: 500px;
    padding: 30px;
}

.bouncer {

    animation-name: bouncer;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


.grid-main {

    margin-left: 200px;
    display: grid;

    grid-template-columns: 350px 350px 300px;
    grid-template-rows: 250px 250px;
    row-gap: 20px;
    column-gap: 30px;

}

.g1 {
    width: 200px;
}



.item1 {

    border: 2px solid rgb(77, 77, 164);
    background-color: white;
    text-align: center;
}

.item1:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;
    transform-style: preserve-3d;
}

.item2 {
    border: 2px solid rgb(77, 77, 164);
    text-align: center;
    background-color: white;

}

.item2:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;
    transform-style: preserve-3d;
}

.item3 {
    border: 2px solid rgb(77, 77, 164);
    text-align: center;
    background-color: white;
}

.item3:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;
    transform-style: preserve-3d;
}

.item4 {
    border: 2px solid rgb(77, 77, 164);
    text-align: center;
    height: 280px;
    background-color: white;
}

.item4:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;
    transform-style: preserve-3d;
}

.item5 {
    border: 2px solid rgb(77, 77, 164);
    text-align: center;
    height: 280px;
    background-color: white;
}

.item5:hover {
    background-color: rgb(77, 77, 164);
    transition: 2s;
    transform-style: preserve-3d;
}

.exphead {
    font-size: 100px;

}

.expli {
    font-size: larger;
}

.box-main {
    margin-left: 70px;
    display: grid;
    margin-top: 150px;

    grid-template-columns: 350px 450px 350px;

    column-gap: 60px;
}

.box1 {

    border: 2px solid whitesmoke;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


.box2 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}


.box3 {
    border: 2px solid whitesmoke;
    text-align: center;
    background-color: white;
    border-radius: 10px;

}

@media only screen and(m-width:1373px) {
    .box3 {
        display: none;
    }

}


.box1 ol li {
    padding: 40px;
    padding-left: 10px;
    text-align: none;
}

.box-main ol li:hover {
    background-color: rgb(77, 77, 164);
}

.pro {
    width: 200px;
}

.box2 ol li {
    padding: 20px;

}

.box3 ol li {
    padding: 30px;
}

.box4 {
    text-align: center;
    margin-left: 220px;
    margin-top: 80px;
    border: 2px solid whitesmoke;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    text-align: center;
}



@keyframes slideleft {
    from {
        transform: translateX(-800px);

    }

    to {
        transform: translateX(0px);
    }
}

.slideleft {

    margin-left: 580px;
    margin-top: 80px;
    border: 2px solid black;
    width: 280px;
    height: 460px;
    border-radius: 20px;
    background-color: white;
    animation-name: slideleft;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

.conhead {
    text-decoration: none;
}

.conhead:hover {
    transform: translateX(-15px);
    border-bottom: 5px white;
}

.sub {
    margin-top: 5px;
    border-radius: 10px;


}

.sub:hover {
    background-color: gray;
}




.start {
    font-size: 50px;
}

.box-head {
    background-color: rgb(139, 65, 139);
    width: 200px;
    margin-left: 35px;
    border-radius: 5px;
    color: white;
}

.box {
    text-align: center;

}

input {
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
    margin: 12px;
}

.foot {
    background-color: white;
    text-align: center;
    width: 1425px;
    height: 55px;
    opacity: 70%;

}





.hed {
    color: orange;
}

.bod {
    color: white;
}

.img0 {
    width: 200px;
    position: relative;
    left: 100px;
}

.grid-img {
    width: 250px;
    height: 150px;
}