body {
    background-image: url(images/web-design-background.png)
}


.topnav {
    background-color: white;
    opacity: 100%;

}






.logo {
    font-size: 100px;
    font-style: oblique;
    line-height: 80px;
    margin-left: 500px;


}

nav ul {
    float: right;


}

ul li {
    display: inline-block;
    padding: 20px;
    font-size: x-large;

}

a {
    color: black;
    font-style: italic;
    text-decoration: none;

}

a:hover {
    border-bottom: 2px solid skyblue;
}

.p1 {
    margin-left: 60px;
    font-size: xx-large;
    margin-top: 150px;

}

.im1 {
    margin-top: 25px;
    margin-left: 250px;
    width: 458px;
    height: 300px;

}

button {
    color: white;
    background-color: rgb(52, 52, 252);
    font-size: 40px;
    border-radius: 20px;
    margin-left: 60px;
}

button:hover {
    background-color: aqua;
    transition: 2s;
}

.end {
    margin-top: 150px;
    background-color: white;
    color: white;
    width: 500px;
    margin-left: 500px;
}

.end:hover {
    background-color: black;
    transition: 2s;
}